<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.khaje.calendar">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--my-->
    <uses-permission
        android:name="android.calendar.ACCESS_NETWORK_STATE"/>
    <!-- Optional permissions -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>

    <!-- Optional permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /><!--optional-->
    <uses-permission android:name="android.permission.VIBRATE" /><!--optional-->

    <uses-permission android:name="ACCESS_COARSE_LOCATION" tools:node="remove" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" tools:node="remove" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" tools:node="remove" />
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" tools:node="remove" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" tools:node="remove" />
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" tools:node="remove" />
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" tools:node="remove" />
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" tools:node="remove" />
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE" tools:node="remove" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" tools:node="remove"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" tools:node="remove" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" tools:node="remove" />
    <uses-permission android:name="android.permission.READ_APP_BADGE" tools:node="remove" />
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" tools:node="remove" />
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" tools:node="remove" />
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE" tools:node="remove" />
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ" tools:node="remove" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/LightTheme">

        <activity
            android:name=".view.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:exported="true"
            android:launchMode="singleTop"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".view.activity.AthanActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:theme="@style/FullscreenTheme" />

        <receiver
            android:name=".service.BroadcastReceivers"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity android:name="com.khaje.calendar.view.activity.WidgetConfigurationActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Widget1x1"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/widget_mini_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/persiancalendar_provider1x1" />
        </receiver>

        <receiver
            android:name=".Widget4x1"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/persiancalendar_provider4x1" />
        </receiver>

        <receiver
            android:name=".Widget4x2"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/persiancalendar_provider4x2" />
        </receiver>

        <receiver
            android:name=".Widget2x2"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/persiancalendar_provider2x2" />
        </receiver>

        <!-- for my-->

        <meta-data android:name="com.pushpole.sdk.token" android:value="PUSHPOLE_00000000000"/>


        <service android:name=".MyFcmServicePushe">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <service
            android:name=".DashClockUpdate"
            android:icon="@drawable/day18"
            android:label="@string/app_name"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="1" />

            <meta-data
                android:name="description"
                android:value="Persian Calendar" />
        </service>

        <service
            android:name=".service.ApplicationService"
            android:enabled="true"
            android:label="Calendar Service" />

        <service
            android:name=".service.AthanNotification"
            android:label="Athan Service" />

        <service
            android:name=".service.PersianCalendarTileService"
            android:icon="@drawable/day18"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>


        <!-- end for my-->

    </application>

</manifest>
